html, body, div, form, input, select, button, label, textarea, 
article, footer, header, nav, section, aside, main, hgroup, 
img, a, span, ol, ul, li, p, h1, h2, h3, h4, h5, blockquote {
    padding:0;
    margin:0;
    border:0;
    outline:0;
    font-family: 'Lato', helvetica neue, helvetica, arial, sans-serif;
    vertical-align:baseline;
}
body {
    line-height:1;
    color:#fff;
    font-weight:200;
    font-size:62.5%;
}
body, html {
    height:100%;
    width:100%;
}
article, main, footer, header, nav, section, aside, details, hgroup, figure {
    display: block;
}
*, *:before, *:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
a, span {
    display:inline-block;
    font-weight:inherit;
    color:inherit;
}
ul {
    list-style:none;
    list-style-image: none;
    overflow:hidden;
}
li {
    text-decoration:none;
}
a {
    text-decoration:none;
    color:inherit;
}